*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;  
}
body{
    display: flex;
    padding: 1%;
    font-family: sans-serif;
}
p{
    padding: 1%;
}

.section-left-revoU-mahas{
    /* background-color: cadetblue; */
    width: 50%;
    padding: 1%;
}
.section-right-revoU-mahas{
    width: 50%;
    padding: 1%;
    /* background-color:yellow; */
}

header p{
    text-align: justify;
    /* background-color: violet; */
}
.container-form-revoU-mahas{
    background-color:lightgray;
    width: 100%;
    height: 70vh auto;
    padding: 3%;
    border-radius: 5px;
}

.form-content-revou-mahas{
    font-weight: bold;
    margin-bottom: 4%;
    /* background-color: tomato; */
}

.container-input{
    display: flex; 
    /* background-color: chartreuse; */
    border: 2px solid grey;
    border-radius: 7px;
}
.pencil-emoji{
    width: 40px; 
    border-radius: 3px 0 0 3px;
    background-color: lightgray; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 20px;
}
input[type=number]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0px 3px 3px 0;
    box-sizing: border-box;
    -moz-appearance: textfield;
    /* background-color: blue; */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;}
  
.submit-button{
    background-color: #74BDDA;
    border: none;
    border-radius: 5px;
    height: 36px;
    padding: 0 10px;
}
.reset-button{
    border: none;
    border-radius: 5px;
    height: 36px;
    padding: 0 10px;
    border: 1px solid grey;   
}

.penjelasan-bmi{
    width: 100%;
    padding-top: 2%;
    /* background-color: saddlebrown; */
}
.penjelasan-bmi h1{
    padding-bottom: 20px;
}
.penjelasan-bmi ol li{
    margin: 0 0 0 30px;
}
.penjelasan-bmi p{
    text-align: justify;
}

.hasil{
    width: 100%;
    height: 300px auto;
    border-radius: 5px;
    background-color: lightgray;
}

.hasil p{
    width: 100%;
    text-align: center;
    font-size: 20px;
    /* background-color: brown; */
}

.hasil h1{
    text-align: center;
    font-size: 80px;

}
.suggestions p{
    width: 100%;
    overflow: hidden;
    text-align: justify;
    /* background-color: tomato; */
}
.suggestions ul{
    padding-left: 5%;
}

.konsuldanregis button {
    background-color: #74BDDA;
    border: none;
    border-radius: 5px;
    height: 36px;
    padding: 0 10px;
    margin : 2% 0 1% 0;
}

.konsuldanregis button a{
    color: white;
}
.container-infopenyakit-revou-mahas{
    background-color: lightgray;
    text-align: center;
    padding: 5% 5% 1% 5%;
}
.container-infopenyakit-revou-mahas h3{
    width: 100%;
    text-align: center;
}
.container-infopenyakit-revou-mahas p{
    width: 100%;
    text-align: center;
}
.container-infopenyakit-revou-mahas button{
    background-color: #74BDDA;
    border: none;
    border-radius: 5px;
    height: 36px;
    padding: 0 10px;
    margin : 2% 0 1% 0;
}
.container-infopenyakit-revou-mahas button a{
    color: white;
}

.container-app-download-revou-mahas{
    width: 100%;
    margin-top: 3%;
    display: inline-block;
    text-align: center;
    /* background-color: violet; */
}
.container-app-download-revou-mahas img{
    width: 150px;
    object-fit: cover;

}

/* RESPONSIVE MEDIAQUERY */
@media screen and (max-width: 768px){
    body{
        display: block;
    }
    .section-left-revoU-mahas{
        width: 100%;
    }
    .section-right-revoU-mahas{
        width: 100%;
    }
}

@media screen and (max-width: 576px){
    .container-infopenyakit-revou-mahas button{
        width: 120px;
        font-size: 7px;
    }
}